.mr-sm {
  margin-right: .5rem; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 3rem; }

.icon-md--white {
  color: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #545454;
  line-height: 1.5;
  padding: 3rem; }

.heading-primary {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2.8rem;
    letter-spacing: 1.5px; }

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none; }

.btn--primary {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0022;
  padding: 1.3rem 3rem; }

.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/hero-2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5; }
  .banner__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #111320;
  grid-column: full-start / full-end; }

.header {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    height: 6rem; }

.how-it-works {
  background-color: orangered;
  grid-column: center-start / center-end; }

.story__pictures {
  background-color: palevioletred;
  grid-column: full-start / col-end 5; }

.story__content {
  background-color: purple;
  grid-column: col-start 6 / full-end; }
