.mr-sm {
  margin-right: .5rem; }

.mb-xs {
  margin-bottom: .5rem; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 3rem; }

.mt-md {
  margin-top: 8rem; }

.icon-md--white {
  color: #fff; }

.text-center {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #545454;
  line-height: 1.5; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3rem;
  font-family: 'Playfair Display', serif; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    letter-spacing: .5rem;
    font-weight: 500; }
  .heading-primary--sub {
    display: block;
    font-size: 2.8rem;
    letter-spacing: 3px;
    font-weight: 600; }

.heading-secondary {
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none; }

.btn--primary {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0022;
  padding: 1.3rem 3rem;
  transition: border-radius .3s;
  text-align: center; }
  .btn--primary:hover {
    border-radius: 100px;
    background-color: #df273f; }

.btn--explore {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0022;
  padding: 1.5rem 5rem;
  transition: border-radius .3s;
  text-align: center; }
  .btn--explore:hover {
    border-radius: 100px;
    background-color: #df273f; }

.btn--feature {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0022;
  padding: 1.5rem 5rem;
  transition: border-radius .3s;
  text-align: center;
  align-self: center; }
  .btn--feature:hover {
    border-radius: 100px;
    background-color: #df273f; }

.play--btn {
  display: block;
  z-index: 1000;
  background-color: #df273f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none; }
  .play--btn:focus {
    outline: none; }

.section-about {
  padding: 12rem 0;
  background-color: #F5F5F7;
  margin-top: -20vh; }

.about__text {
  font-size: 1.5rem;
  width: 50%;
  margin-left: 25%;
  text-align: center; }

.banner {
  height: 95vh;
  background-image: url("../img/hero (1).jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5; }
  .banner__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-categories {
  padding: 8rem 0; }

.section__text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem; }

.category-container {
  display: flex;
  justify-content: center; }

.category {
  height: 37.5rem;
  width: 50rem;
  position: relative; }
  .category__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    z-index: 20;
    transition: all .4s; }
  .category__photo {
    width: 100%; }
  .category:hover .category__overlay {
    width: 100%;
    height: 100%; }
  .category__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
  .category:hover .category__title {
    display: block; }
  .category__button {
    margin-top: 6rem; }

.section-features {
  padding: 8rem 0; }

.feature {
  display: flex; }
  .feature__photo {
    width: 50%;
    height: 60rem;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/feature-back.jpg");
    background-size: cover;
    color: #fff;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .feature__bg {
    height: 600px;
    width: 600px;
    overflow: hidden;
    object-fit: cover;
    padding-top: 13rem;
    position: relative;
    overflow: hidden; }
  .feature__video {
    display: block;
    width: 100%;
    outline: 0;
    border: none;
    z-index: 2; }
    .feature__video--icon {
      display: inline-block;
      padding: 1.3rem;
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      font-size: 6.5rem;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.9);
      padding-left: 2rem;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center; }
  .feature__heading {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .feature__text {
    font-size: 1.6rem;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    text-align: center; }
  .feature__img {
    width: 100%; }
  .feature__content {
    width: 50%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    text-align: center; }
  .feature-box__icon {
    font-size: 2.8rem; }

.footer {
  background-color: #0a0b0e;
  padding: 8rem 0; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 35%;
    border-bottom: 1px solid #c5b9b9;
    padding-bottom: 1rem; }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none; }
  .footer__nav-item {
    margin-bottom: 1rem; }
  .footer__nav-link {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #f1e3e3;
    text-decoration: none;
    display: inline-block; }
  .footer__address-list {
    list-style: none;
    font-size: 1.5rem;
    color: #f1e3e3; }
  .footer__address-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center; }
    .footer__address-item i {
      font-size: 1.8rem;
      color: #f1e3e3;
      margin-right: .8rem; }
  .footer__social-list {
    list-style: none; }
  .footer__social-item {
    margin-bottom: 1rem; }
  .footer__social-link {
    text-decoration: none;
    display: inline-block;
    color: #f1e3e3;
    font-size: 1.5rem;
    display: flex;
    align-items: center; }
    .footer__social-link i {
      font-size: 2rem;
      color: #f1e3e3;
      margin-right: .8rem; }
  .footer__copyright {
    text-align: center;
    margin-top: 3rem; }
    .footer__copyright-text {
      font-size: 1.5rem;
      color: #f1e3e3; }
      .footer__copyright-text a:link,
      .footer__copyright-text a:visited {
        display: inline-block;
        margin-left: .3rem;
        color: firebrick;
        text-decoration: none; }
        .footer__copyright-text a:link i,
        .footer__copyright-text a:visited i {
          font-size: 2.5rem;
          color: #f1e3e3;
          animation: scaleUp .5s infinite; }

@keyframes scaleUp {
  0% {
    transform: scale(1.1);
    color: firebrick; }
  60% {
    transform: scale(1.2);
    color: firebrick; }
  100% {
    transform: scale(1); } }

.header {
  background-color: #333333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 100;
  width: 100%;
  height: 8rem; }
  .header__logo {
    height: 4rem; }

.primary-nav__list {
  list-style: none;
  display: flex; }

.primary-nav__item {
  margin-right: 1.5rem; }

.primary-nav__link:link, .primary-nav__link:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.primary-nav__link:hover, .primary-nav__link:active {
  color: #ff0022; }

.customer-nav__list {
  list-style: none;
  display: flex; }

.customer-nav__item {
  margin-right: 1.5rem; }

.customer-nav__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff; }

.customer-nav__link:link, .customer-nav__link:visited {
  display: inline-block;
  text-decoration: none; }

.customer-nav__link:hover, .customer-nav__link:active {
  color: #ff0022; }

.how-it-works {
  background-color: orangered;
  grid-column: center-start / center-end; }

.section-meals {
  padding: 8rem 0; }

.meal-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem; }

.meal {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  margin-right: 6rem;
  border: 1px solid #9c3341;
  border-radius: .5rem;
  transition: all .4s; }
  .meal__img-box {
    height: 14rem;
    width: 20rem;
    margin-right: 1.8rem;
    overflow: hidden; }
  .meal__photo {
    display: inline-block;
    width: 100%; }
  .meal__content {
    padding: 1.3rem; }
  .meal__title {
    font-size: 1.8rem;
    font-weight: 600; }
  .meal__intro {
    font-size: 1.4rem; }
  .meal__price {
    font-size: 1.8rem;
    font-weight: 600; }
  .meal__rating i {
    font-size: 1.2rem;
    color: #9c3341; }
  .meal__cta {
    text-align: center;
    margin-top: 6rem; }
  .meal:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.story__pictures {
  background-color: palevioletred;
  grid-column: full-start / col-end 5; }

.story__content {
  background-color: purple;
  grid-column: col-start 6 / full-end; }

.section-subscription {
  padding: 4rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center; }

.subscription {
  width: 20%;
  color: #545454; }
  .subscription__group {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1.5rem; }
  .subscription__icon {
    font-size: 2.8rem;
    margin-right: 1.5rem; }
  .subscription__label {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .subscription__input {
    width: 100%;
    padding: 1.4rem 1.5rem;
    border: 1px solid #e6e5e5;
    font-size: 1.5rem;
    border-radius: .5rem; }
