// FONTS
$primary-font: 'Lato', sans-serif;
$font-sansita: 'Sansita Swashed', cursive;


//COLORS 

$black-color: #000;
$white-color: #fff;   

$primary-color: #e02728;
$secondary-color: #7E1842;     

$primary-dark-red: #B23121;
$primary-light-red: #D44638;

$grey-light-1: #EEEEEE;
$grey-light-2: #E2E2E2;
$grey-light-3: #DADADA;
$grey-light-4: #C6C6C6;