.section-about {
    padding: 12rem 0;
    background-color: #f7f7f7;  
    margin-top: -20vh; 
}

.about__text {
    font-size: 1.5rem;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}  