 .section-categories { 
     padding: 8rem 0; 
     grid-column: center-start / center-end;
 }

 .section__text {
     font-size: 1.5rem;
     text-align: center;
     margin-bottom: 3rem;
 }

 .category-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .category { 
     height: 25rem;    
     width: 28rem;  
     position: relative;   
     overflow: hidden; 

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;  
        background-image: linear-gradient(to right bottom, rgba($primary-color, .8),rgba($secondary-color, .8));      
        z-index: 20;
        transition: all .6s;  
    }

    &__photo {
        display: block;
        height: 100%;
    }

    &:hover &__overlay {
        height: 100%;
        width: 100%;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase; 
        color: $white-color; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: moveFromUp .8s;
    }

    &:hover &__title {
        display: block;
    }

    &__button {
        margin-top: 6rem;
    }
    
 }

 @keyframes moveFromUp {
    0% {
        opacity: 0;
    }

    80% { 

    }

    100% {
    }
 }