.section-features {
    padding: 8rem 0;
}

.feature {
    display: flex;
    
    &__photo {
        width: 50%;
        height: 60rem; 
        overflow: hidden;  
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url(../../img/feature-back.jpg);   
        background-size: cover; 
        color: $white-color;      
        background-position: center;  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }  

    &-box {
        margin-right: 1.5rem;
        display: flex;
        align-items: center;

        &__icon {
            font-size: 8rem;  
        }
    }
 

    &__heading {
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;    
        margin-bottom: 3rem;   
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
        width: 70%; 
        margin-left: 15%;   
        text-align: center;
    }

    &__img {
        width: 100%; 
    }

    &__text {

    }

    &__content {
        width: 50%;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center; 
        flex-direction: column; 
        padding: 3rem;
        text-align: center;
    }

    &-box {
        &__icon {
            font-size: 2.8rem;
        }
    }     
}