.section-features {
    padding: 8rem 0;
}

.feature {
    display: flex;
    
    &__photo {
        width: 50%;
        height: 90rem; 
        overflow: hidden;  
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url(../../img/feature-back.jpg);
        background-size: cover; 
        color: $white-color;   
        background-position: center;
        position: relative;
    }

    &__photo-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
    }

    &__heading {
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;    
        margin-bottom: 3rem;   
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
    }

    &__img {
        width: 100%; 
    }

    &__text {

    }

    &__content {
        width: 50%;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        padding: 3rem;
        text-align: center;
    }

    &-box {
        &__icon {
            font-size: 2.8rem;
        }
    }     
}