.features {
    padding: 6rem 0;    
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-row-gap: 3rem;  
}

.feature {
    display: grid;
    padding: 3rem;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;

    &__txt {
        font-size: 1.4rem;

        grid-column: 1 / -1;
    }
}

//ICONS
.icon-feature {
    display: inline-block;
    font-size: 3.4rem;
    color: $primary-light-red;
}