.header {
    position: absolute;   
    top: 10%;
    left: 10%;
    z-index: 10;

    display: flex;
    justify-content: space-between;


    &__logo-box {

    }

    &__logo {
        height: 6rem;
    }
}