.meals {
    padding: 6rem 0;
    grid-column: center-start / center-end;

    display: grid; 
    grid-template-columns: repeat(auto-fit, min-max(25rem, 1fr)); 
}

.meal {
    height: 80rem; 
    display: grid; 
    grid-template-rows: auto repeat(2, min-content);   
    grid-template-columns: 10rem repeat(2, 150px);    
        
    &__img {
        grid-column: 1 / -1;
        align-items: start;  
    }

    &__photo {
        display: inline-block;
        width: 100%; 
        filter: brightness(80%);  
    }

    &__title {
       
    }
}  