 .section-meals {
    padding: 8rem 0;
    grid-column: center-start / center-end;
 }

 .meal-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
 }

 .meal {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    margin-right: 6rem; 
    border: 1px solid #9c3341;  
    border-radius: .5rem;
    transition: all .4s;
   
    &__img-box {
        height: 14rem;
        width: 20rem;
        margin-right: 1.8rem;
        overflow: hidden;
    }  

    &__photo {
        display: inline-block;
        width: 100%; 
    }

    &__content {
        padding: 1.3rem;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__intro {
        font-size: 1.4rem;
    }

    &__price {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__rating  {
        i {
            font-size: 1.2rem; 
            color: #9c3341;
        } 
    } 

    &__cta {
        text-align: center;
        margin-top: 6rem;
    }
    
    &:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    } 
 } 