@media only screen  and (max-width: 1440px) {
    .heading-primary {
        font-weight: 400;  
        text-transform: uppercase;
        color: #fff; 
        margin-bottom: 3rem;
        
        &--main {
            display: block;
            font-size: 5rem; 
        }
    
        &--sub {
            display: block;
            font-size: 2.2rem;   
            letter-spacing: 1.8px;
        }
    } 
    
    
    .tertiary-heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
    }


    .section-types { 
        padding: 8rem 0; 
    }
   
    .section__text {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .category {
        height: 33.5rem;         
    }   

    //Meals Section
    .meal-container {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
     }
    
     .meal {
        
        &:first-of-type {
            margin-left: 4.5rem;
        } 
               
        &:not(:last-child) {
            margin-right: 2rem;
        }
       
        &__img-box {
            margin-right: .5rem;      
        } 
     } 
    
    
}