.btn {

    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
    }

    &--primary {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $white-color;   
        background-color: #ff0022;
        padding: 1.3rem 3rem; 
        transition: border-radius .3s;
        text-align: center;   


        &:hover {
            border-radius: 100px;
            background-color: #df273f;
        }
    }

    &--explore {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $white-color;   
        background-color: #ff0022;
        padding: 1.5rem 5rem; 
        transition: border-radius .3s;
        text-align: center;   


        &:hover {
            border-radius: 100px;
            background-color: #df273f;
        }
    }

    &--feature {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $white-color;   
        background-color: #ff0022;
        padding: 1.5rem 5rem;       
        transition: border-radius .3s;
        text-align: center;
        align-self: center;

        &:hover {
            border-radius: 100px;  
            background-color: #df273f;
        }
    }
}

.play--btn {
    display: block;
    z-index: 1000;  
    background-color: #df273f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border:none;

    &:focus {
        outline: none;
    }
}