.reasons {
    display: flex;
    justify-content: center;
}
 
.reason {
    width: 25rem;
    margin-right: 2.5rem;
    margin-top: 12rem;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__icon {
        display: inline-block;
        font-size: 3.5rem;  
        margin-right: .8rem;
        background-image: linear-gradient(to right bottom,$primary-color, $secondary-color);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__title { 
        font-size: 1.7rem;
    }
 
    &__text {
        font-size: 1.4rem;
    }
}     