.reasons {
    display: flex;
    justify-content: center;
}
 
.reason {
    width: 25rem;
    margin-right: 2.5rem;
    margin-top: 12rem;

    &__top {
        display: flex;
        align-items: center;
        justify-items: center;
        margin-bottom: 1.5rem;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
        margin-top: -2.4rem;
    }

    &__title { 
        font-size: 1.7rem;
    }
 
    &__text {
        font-size: 1.4rem;
    }
}