.user-nav {
    margin-right: 3rem;

    &__list {
        list-style: none;
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 2.4rem;
    }

    &__icon {
        width: 2.5rem; 
        height: 2.5rem;
    }

    &__photo {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid #333; 
    }  
}